<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8XMPIYVMVGaI6QxPMYYIYWFhjf9o5W5o</string>
	<key>GCM_SENDER_ID</key>
	<string>526710490917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.k31WatchFlutter</string>
	<key>PROJECT_ID</key>
	<string>k31-watch</string>
	<key>STORAGE_BUCKET</key>
	<string>k31-watch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526710490917:ios:6049d6bc6aae6604ebfccc</string>
</dict>
</plist>